body{
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #eee;

}

.screenshot{
  position: relative;
  width: 1210px;
  height: 3736px;
  margin: 0 auto;
  background-image: url(/website-screenshot-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.banners{
  width: 300px;
  position: absolute;
  right: 2px;
}

iframe.banner{
  position: relative;
  border: 0;
  outline: 0
}

.banner.mrec{
  position: absolute;
  top: 1433px;
}
.banner.halfpage{
  position: absolute;
  top: 2240px;
}