body{
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1;
  font-family:  Arial, sans-serif;
  background-color: #eee;

}

.screenshot{
  position: relative;
  max-width: 1210px;
  min-width: 320px;
  height: 3736px;
  margin: 0 auto;
  background-image: url(/website-screenshot-desktop.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}

.banners{
  width: 300px;
  position: absolute;
  right: 2px;
}

.banner{
  position: relative;
  border: 0;
  outline: 0
}

.mrec{
  position: absolute;
  top: 1433px;
}
.halfpage{
  position: absolute;
  top: 2240px;
}


.warning{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}